body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1.25rem; /* General font size adjustment for headers */
}

button {
  cursor: pointer;
  font-size: 0.875rem; /* Button font size adjustment */
}

/* Ensure table cells adjust well to smaller screens */
table {
  width: 100%;
}

th,
td {
  padding: 6px 8px;
  text-align: left;
  font-size: 0.875rem; /* Table cell font size adjustment */
}

@media (max-width: 600px) {
  .App {
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem; /* Further adjust header font sizes for smaller screens */
  }

  button {
    font-size: 0.75rem; /* Further adjust button font sizes for smaller screens */
  }

  th,
  td {
    font-size: 0.75rem; /* Further adjust table cell font sizes for smaller screens */
  }
}
